# ignore pycache files
__pycache__/
# ignore build files
build/
dist/
# ignore node_modules
node_modules/
# ignore bunssr build files
bunssr/__pycache__/
bunssr/build/
# ignore egg-info
bunssr.egg-info/
main.pycache
.DS_Store